[Replication Monitor]
type=monitor
module=mysqlmon
servers=mariadb1, mariadb2, mariadb3
user=maxscale
passwd=pass
monitor_interval=1000

[mariadb1]
type=server
address=mariadb1
port=3306
protocol=MySQLBackend
persistpoolmax=20

[mariadb2]
type=server
address=mariadb2
port=3307
protocol=MySQLBackend
persistpoolmax=20

[mariadb3]
type=server
address=mariadb3
port=3308
protocol=MySQLBackend
persistpoolmax=20

[replication-service]
type=service
router=binlogrouter
router_options=server_id=4000,binlogdir=/var/lib/mysql,filestem=mysqld-bin,mariadb10-compatibility=1
user=repl
passwd=pass

[avro-service]
type=service
router=avrorouter
source=replication-service
user=cdcuser
passwd=cdc

[Replication Listener]
type=listener
service=replication-service
protocol=MySQLClient
port=9003

# The client listener for the avro-service
[cdc-listener]
type=listener
service=avro-service
protocol=CDC
port=4001

[MaxAdmin Service]
type=service
router=cli

[MaxAdmin Listener]
type=listener
service=MaxAdmin Service
protocol=maxscaled
socket=default

[MaxInfo]
type=service
router=maxinfo
user=myuser
passwd=myreallysecretpassword

[MaxInfo JSON Listener]
type=listener
service=MaxInfo
protocol=HTTPD
port=8003

[MaxInfo Listener]
type=listener
service=MaxInfo
protocol=MySQLClient
port=11003
