[maxscale]
threads=2

[cluster-monitor]
type=monitor
module=mysqlmon
servers=master-server
user=maxscale
passwd=pass
monitor_interval=1000

[master-server]
type=server
address=mariadb1
port=3306
protocol=MySQLBackend
persistpoolmax=20

[replication-service]
type=service
router=binlogrouter
router_options=server_id=4000,binlogdir=/var/lib/mysql,filestem=mysqld-bin,mariadb10-compatibility=1
user=repl
passwd=pass

[replication-Listener]
type=listener
service=replication-service
protocol=MySQLClient
port=9003

[avro-service]
type=service
router=avrorouter
source=replication-service
user=cdcuser
passwd=cdc

[cdc-listener]
type=listener
service=avro-service
protocol=CDC
port=4001

[maxadmin]
type=service
router=cli

[maxadmin-listener]
type=listener
service=maxadmin
protocol=maxscaled
socket=default

[read-service]
type=service
router=readconnroute
servers=master-server
user=repl
passwd=pass

[read-service-Listener]
type=listener
service=replication-service
protocol=MySQLClient
port=3306
