[replication-service]
type=service
router=binlogrouter
router_options=server_id=4000,binlogdir=/var/lib/maxscale,filestem=binlog
user=repl
password=repl

[replication-Listener]
type=listener
service=replication-service
protocol=MySQLClient
port=3306

[avro-service]
type=service
router=avrorouter
source=replication-service
user=cdcuser
password=cdc

[cdc-listener]
type=listener
service=avro-service
protocol=CDC
port=4001
